#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 40px;
  padding: 32px 40px;
  height: 80px;
  background: white;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 94.5%;
}
#header .header_left {
  width: 180px;
  height: 100%;
  margin-right: auto;
}
#header .header_left img {
  width: 100%;
}
#header .header_right {
  cursor: pointer;
}
#header .header_right .header_nav_bar {
  width: 30px;
  height: 100%;
  position: relative;
}
#header .header_right .header_nav_bar span {
  width: 30px;
  height: 2px;
  position: absolute;
  background: black;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#header .header_right .header_nav_bar span:nth-child(1) {
  top: 2px;
}
#header .header_right .header_nav_bar span:nth-child(2) {
  top: 10px;
}
#header .header_right .active span:nth-child(1) {
  top: 3px;
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
  background-color: white;
  z-index: 99;
}
#header .header_right .active span:nth-child(2) {
  top: 3px;
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
  background-color: white;
  z-index: 99;
}
#header .header_right .header_nav_content {
  display: block;
  position: fixed;
  top: 0;
  left: -2000px;
  background: black;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  margin-bottom: 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#header .header_right .active2 {
  display: block;
  position: fixed;
  top: 0;
  left: 0px;
  padding: 41px 50px;
  background: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 98;
  margin-bottom: 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#header .header_right .active2 ul {
  width: 30%;
}
#header .header_right .active2 ul li {
  width: 100%;
  margin-bottom: 14px;
}
#header .header_right .active2 ul li a {
  color: white;
  font-size: 14px;
}

.content {
  margin: 0 40px;
  padding: 42px 40px;
}
.content .product_title {
  text-align: left;
}
.content .product_title h1 {
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 30px;
}
.content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content ul li {
  height: 294px;
  width: 23%;
  margin-bottom: 80px;
}
.content ul li a img {
  width: 100%;
  height: 100%;
}
.content ul li .product_name {
  margin-top: 11px;
  margin-bottom: 4px;
  font-size: 0.75rem;
}
.content ul li .product_price {
  font-size: 0.75rem;
}
.content a {
  display: block;
  text-align: center;
  font-size: 0.875rem;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 40px;
  padding: 54px 40px 20px 40px;
}
#footer .footer_list {
  margin-right: auto;
}
#footer .footer_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#footer .footer_list ul li {
  font-size: 0.75rem;
  margin-right: 30px;
}
#footer .copyright {
  font-size: 0.625rem;
}/*# sourceMappingURL=style.css.map */